#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    echo "Loading nix-direnv, because its faster..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# This is currently needed for devenv to properly run in pure hermetic
# mode while still being able to run processes & services and modify
# (some parts) of the active shell.mkdir -p .devenv/state
# See: https://github.com/cachix/devenv/issues/1461
if [ ! -f .devenv/state/pwd ] ||
    [ "$(pwd)" != "$(cat .devenv/state/pwd)" ]; then
    mkdir -p .devenv/state && pwd >.devenv/state/pwd
fi

use flake ./tools/nix#default \
    --override-input devenv-root "path:.devenv/state/pwd"
